*{
    margin:0px;
    padding:0px;
}
html{
    height:100%;
    overflow: hidden;
}
body{
    background:linear-gradient(
        rgb(0,0,0,0.55),
        rgb(0,0,0,0.55)
    ),
    url("/src/assets/IndianFood.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
}
.UserLogin{
    height:350px;
    width:370px;
    padding:40px;
    position: absolute;
    top:20%;
    left:40%;
    background: white;
    box-sizing: border-box;
    background: #FFF8F2; 
}
.inputBox{
    margin-bottom: 30px;
    height:30px;
    box-sizing: border-box;
    padding:6px;
    position:relative;
}
.inputBox input{
    padding:5px 5px 5px 30px;
}
.inputBox i{
    position:absolute;
    left:10px;
    bottom:2px;
}
.UserLogin h2{
    margin-bottom: 30px;
    margin-left:80px;
    font-size:26px;
    letter-spacing:0.5px;
}
.Login{
    margin:10px 100px;
    width:130px;
    height:30px;
    cursor: pointer;
    border-radius:12px;
    font-weight: 600;
    box-shadow: 0 4px; 
    background: linear-gradient(135deg, #E76F51, #F4A261);
    color:white;
}
.Login:hover{
    transform:translateY(-2px);
}
.Login:active{
    transform:translateY(2px);
}
.registerText{
    font-size:18px;
    position: relative;
    letter-spacing: 0.5px;
    top:10px;
    left:20px;
}
.registerText span{
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}